body {
    margin: 0;
    background: darkgrey;
    text-align: center;
}

.container-outer {
    /* display: flex; */
    /* gap: 60px; */
}

.container {
    /* text-align: center; */
}

svg {
    /* max-width: 200px;  */
    /* height: auto; */
}

/* .body:hover {
    
} */