body {
    margin: 0;
    background: darkgrey;
    text-align: center;
}

.container-outer {
    /* display: flex; */
    /* gap: 60px; */
}

.container {
    /* text-align: center; */
}

svg {
    /* max-width: 200px;  */
    /* height: auto; */
}

#topGroup,
#leftGroup,
#rightGroup {
    transition: all 1s ease;
}

#topGroup {
    transform: translateY(-100%);
    opacity: 0;
}

#leftGroup {
    transform: translateX(100%);
    opacity: 0;
}

#rightGroup {
    transform: translateX(-100%);
    opacity: 0;
}

body:hover #topGroup {
    transform: translateY(0%);
    opacity: 1;
}

body:hover #leftGroup {
    transform: translateX(0%);
    opacity: 1;
}

body:hover #rightGroup {
    transform: translateX(0%);
    opacity: 1;
}